@page
<div class="container">
    <div class="row p-1">
        <div class="col-6">
            <h1>Random Number</h1>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <p>This is a very simple example of a SignalR client, it receives a random number from the server and then displays it below</p>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <div id="randomNum"></div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/random.js"></script>
